$blue: #5163e9;
$light-blue: #919efc;
$dark-blue: #343a66;
$white: #FFF;
$black: #000;
$gray: #555;
$light-gray: #777;
$dark-gray: #333;
$very-light-gray: #999;
$very-dark-gray: #111;
$seriously-light-gray: #f6f6f8;
$light-blue-gray: #f1f2fd;
$global-border: #CCC;
$image-path: '~../shared/assets/images';
