@import "../../../../shared/assets/scss/variables";

nav {
  display: block;
  background-color: $light-blue;
  ul {
    margin: 0px;
    padding: 0px;
    li {
      font-size: 1em;
      line-height: 1em;
      color: $white;
      display: inline-block;
      padding: 20px 16px;
      &:hover,
      &.active {
        background-color: $dark-blue;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
