<div class="container">

<div [formGroup]="orderForm" class="input-group mb-3">
  <div class="input-group-prepend">
    <button type="button" class="btn light-blue">Search Orders</button>
    <button type="button" class="btn light-blue dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item">Search By:</a>
      <div role="separator" class="dropdown-divider"></div>
      <a *ngFor="let f of filterKeys" class="dropdown-item" (click)="changeFilter(f.key)">{{ f.text }}</a>
    </div>
  </div>
  <input type="text" formControlName="value" class="form-control" id="orderSearch" aria-label="Search Orders">
  <div class="input-group-append">
    <label class="input-group-text">{{activeFilter.text}}</label>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" [class.active]="sort.key === 'id'" (click)="sortOrders('id')">Order # <i *ngIf="sort.dir === 'desc'" class="fas fa-angle-down"></i><i *ngIf="sort.dir === 'asc'" class="fas fa-angle-up"></i></th>
      <th scope="col" [class.active]="sort.key === 'date'" (click)="sortOrders('date')">Date <i *ngIf="sort.dir === 'desc'" class="fas fa-angle-down"></i><i *ngIf="sort.dir === 'asc'" class="fas fa-angle-up"></i></th>
      <th scope="col" [class.active]="sort.key === 'price'" (click)="sortOrders('price')">Price <i *ngIf="sort.dir === 'desc'" class="fas fa-angle-down"></i><i *ngIf="sort.dir === 'asc'" class="fas fa-angle-up"></i></th>
      <th scope="col" [class.active]="sort.key === 'customerId'" (click)="sortOrders('customerId')">Customer <i *ngIf="sort.dir === 'desc'" class="fas fa-angle-down"></i><i *ngIf="sort.dir === 'asc'" class="fas fa-angle-up"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of ds.filteredOrders">
      <th class="td-link" scope="row" [routerLink]="['/orders',o.id]">{{o.id}}</th>
      <td>{{o.date | date:'MM/dd/yy HH:mm:ss'}}</td>
      <td>{{o.price | currency}}</td>
      <td>{{o.customer.lastName}}, {{o.customer.firstName}}</td>
    </tr>
    <tr *ngIf="!ds.filteredOrders.length">
      <th class="td-link" colspan="4" scope="row" class="centered">0 results returned</th>
    </tr>
  </tbody>
</table>

</div>
